//#  es id
// . es class
#container {
  text-align: center;
  position: relative;
  left: 5%;
  right: 5%;
  margin-right: 100px;
  top: 40%;
  background-color: #8c8c8c;
  border-radius: 15px;
}
ion-item {
  margin: 0px 100px;
}
@media screen {
}
