<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nav('/login')"> Login </ion-button>
      <ion-button (click)="nav('/loginpage')"> Signin </ion-button>
      <ion-button (click)="nav('/calculadora')"> Calculadora </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1><strong>Abraham Sanchez Fonseca</strong></h1>
    <h5>MATRICULA: 612210101</h5>
    <br />
    <h2>Prueba mi Juego! </h2>
    <h4>The Capture Worlds:</h4>
    <iframe
      src="https://store.steampowered.com/widget/826930/"
      frameborder="0"
      width="646"
      height="190"
    ></iframe>
  </div>
</ion-content>
